{% extends "__l_right_sidebar.html" %}

{% block title %}home{% endblock %}

{% block content%}
<b>Легенды финансового мира.</b>
<br>Б. Барух, сам по себе легенда.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;
 После провала «Плана Баруха» 1949г. (он предусматривал, что все государства, проводящие исследования в ядерной сфере, должны обмениваться соответствующей информацией; все ядерные программы должны носить исключительно мирный характер; ядерное оружие и иные виды оружия массового уничтожения должны быть уничтожены), в мире началась ядерная гонка вооружений. 
<br>


<br>
&nbsp;&nbsp;&nbsp;&nbsp;
В финансовом мире существует легенда, о так называемом "первичном черном рынке наличных доларов". Суть ее т том, что якобы имеется 8-10 аккредитованных ФРС дилеров, продающих доларовую денежную позицию. Особенность в том, что ее учет ведется за балансом банка (на внебалансовых счетах), но результаты вполне балансовые. Плюс возможность работы с банком по получению и внесению наличных вообще без открытия текущего счета. Например при помощи схем домициляции - это вексельные транзакции, а они кстати тоже учитываются за балансом. В обычной, традиционной форме фирмы пользуются этими схемами в случаях когда расчетный счет недоступен (например арестован налоговой). Но можно полноценно, законно работать с наличными ( которые нужны например для выплаты сотрудникам или поставщикам). Одним словом долары можно поставить в любую страну в любом разумном количестве в любой банк который имеет SWIFT и откроет необходимый корсчет.
<br>
&nbsp;&nbsp;&nbsp;&nbsp;
Построен этот финансолвый инструмент по сути на транзакциях обязательствх банков (MT700, MT760 SWIFT) гарантиях и аккредитивах, но закрываются они вполне осязаемыми (MT1xx, MT2xx) деньгами.


{% endblock %}


{% block sider %}
 sider 
{% endblock %}





































