<table width=720px><td align="center" class="calendar" width="100%">
<h1 class="calendar-title">Economic Calendar</h1>
<table border="0" cellpadding="1" cellspacing="0" class="calendar" width="100%">
<tr class="calendar-header">
<td align="right" width="10%"><b>Mon</b> Aug 18</td>
<td align="center" width="2%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left" width="20%">Release</td>
<td align="left" width="10%">Impact</td>
<td align="left" width="5%">For</td>
<td align="right" width="10%">Actual</td>
<td align="right" width="10%">Expected</td>
<td align="right" width="10%">Prior</td>
<td width="3%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">10:00 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">NAHB Housing Market Index</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_1.gif" width="10"/></td>
<td align="left">Aug</td>
<td align="right"><span style="color:#008800;">55</span></td>
<td align="right">53</td>
<td align="right">53</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
</table><img alt="" border="0" height="20" src="gfx/nic2x2.gif" width="10"/><br/>
<table border="0" cellpadding="1" cellspacing="0" class="calendar" width="100%">
<tr class="calendar-header">
<td align="right" width="10%"><b>Tue</b> Aug 19</td>
<td align="center" width="2%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left" width="20%">Release</td>
<td align="left" width="10%">Impact</td>
<td align="left" width="5%">For</td>
<td align="right" width="10%">Actual</td>
<td align="right" width="10%">Expected</td>
<td align="right" width="10%">Prior</td>
<td width="3%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">8:30 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">CPI</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_3.gif" width="10"/></td>
<td align="left">Jul</td>
<td align="right">0.1%</td>
<td align="right">0.1%</td>
<td align="right">0.3%</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">8:30 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Core CPI</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_3.gif" width="10"/></td>
<td align="left">Jul</td>
<td align="right">0.1%</td>
<td align="right">0.1%</td>
<td align="right">0.1%</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">8:30 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Housing Starts</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_2.gif" width="10"/></td>
<td align="left">Jul</td>
<td align="right"><span style="color:#008800;">1093K</span></td>
<td align="right">964K</td>
<td align="right">945K</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">8:30 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Building Permits</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_2.gif" width="10"/></td>
<td align="left">Jul</td>
<td align="right"><span style="color:#008800;">1052K</span></td>
<td align="right">1001K</td>
<td align="right">973K</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
</table><img alt="" border="0" height="20" src="gfx/nic2x2.gif" width="10"/><br/>
<table border="0" cellpadding="1" cellspacing="0" class="calendar" width="100%">
<tr class="calendar-header">
<td align="right" width="10%"><b>Wed</b> Aug 20</td>
<td align="center" width="2%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left" width="20%">Release</td>
<td align="left" width="10%">Impact</td>
<td align="left" width="5%">For</td>
<td align="right" width="10%">Actual</td>
<td align="right" width="10%">Expected</td>
<td align="right" width="10%">Prior</td>
<td width="3%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">7:00 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">MBA Mortgage Index</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_1.gif" width="10"/></td>
<td align="left">08/16</td>
<td align="right">1.4%</td>
<td align="right">NA</td>
<td align="right">-2.7%</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">10:30 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Crude Inventories</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_1.gif" width="10"/></td>
<td align="left">08/16</td>
<td align="right">-4.474M</td>
<td align="right">NA</td>
<td align="right">1.401M</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">2:00 PM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">FOMC Minutes</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_3.gif" width="10"/></td>
<td align="left">7/30</td>
<td align="right"></td>
<td align="right"></td>
<td align="right"></td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
</table><img alt="" border="0" height="20" src="gfx/nic2x2.gif" width="10"/><br/>
<table border="0" cellpadding="1" cellspacing="0" class="calendar" width="100%">
<tr class="calendar-header">
<td align="right" width="10%"><b>Thu</b> Aug 21</td>
<td align="center" width="2%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left" width="20%">Release</td>
<td align="left" width="10%">Impact</td>
<td align="left" width="5%">For</td>
<td align="right" width="10%">Actual</td>
<td align="right" width="10%">Expected</td>
<td align="right" width="10%">Prior</td>
<td width="3%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">8:30 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Initial Claims</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_2.gif" width="10"/></td>
<td align="left">08/16</td>
<td align="right"><span style="color:#008800;">298K</span></td>
<td align="right">308K</td>
<td align="right">312K</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">8:30 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Continuing Claims</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_2.gif" width="10"/></td>
<td align="left">08/09</td>
<td align="right"><span style="color:#008800;">2500K</span></td>
<td align="right">2530K</td>
<td align="right">2549K</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">10:00 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Existing Home Sales</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_2.gif" width="10"/></td>
<td align="left">Jul</td>
<td align="right"><span style="color:#008800;">5.15M</span></td>
<td align="right">5.00M</td>
<td align="right">5.03M</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">10:00 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Philadelphia Fed</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_1.gif" width="10"/></td>
<td align="left">Aug</td>
<td align="right"><span style="color:#008800;">28.0</span></td>
<td align="right">15.5</td>
<td align="right">23.9</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">10:00 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Leading Indicators</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_1.gif" width="10"/></td>
<td align="left">Jul</td>
<td align="right"><span style="color:#008800;">0.9%</span></td>
<td align="right">0.7%</td>
<td align="right">0.6%</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td align="right">10:30 AM</td>
<td align="center" width="10"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left">Natural Gas Inventories</td>
<td align="left"><img alt="" border="0" height="10" src="../static/gfx/calendar/impact_1.gif" width="10"/></td>
<td align="left">08/16</td>
<td align="right">88 bcf</td>
<td align="right">NA</td>
<td align="right">78 bcf</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
</table><img alt="" border="0" height="20" src="gfx/nic2x2.gif" width="10"/><br/>
<table border="0" cellpadding="1" cellspacing="0" class="calendar" width="100%">
<tr class="calendar-header">
<td align="right" width="10%"><b>Fri</b> Aug 22</td>
<td align="center" width="2%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
<td align="left" width="20%">Release</td>
<td align="left" width="10%">Impact</td>
<td align="left" width="5%">For</td>
<td align="right" width="10%">Actual</td>
<td align="right" width="10%">Expected</td>
<td align="right" width="10%">Prior</td>
<td width="3%"><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr>
<tr>
<td></td>
<td></td>
<td align="left" colspan="6">No economic releases</td>
<td><img alt="" border="0" height="2" src="gfx/nic2x2.gif" width="2"/></td>
</tr></table><img alt="" border="0" height="20" src="gfx/nic2x2.gif" width="10"/><br/>
</td></table>